<h1>lista de participantes</h1>
<br>
<%= link_to "link para o formulario", root_path %>
<br>
<br>
<% @human_list.each do |human| %>
    <div class="card", style="width: 20rem; display: inline-block">
        <div class="card-body">
            <ul>
                <li>Nome: <%= human.name %></li>
                <li>País: <%= human.country %></li>
                <% if human.knowledge == true %>
                    <li><b>Possui</b> conhecimento musical</li>
                <% else %>
                    <li><b>Não Possui</b> conhecimento musical</li>
                <% end %>
                <% if human.skill %>
                    <li><b>Sabe</b> tocar algum instrumento</li>
                <% else %>
                    <li><b>Não Sabe</b> tocar um instrumento</li>
                <% end %>
            </ul>
        </div>
    </div>
    <br>
<% end %>